.bundle
.directory
db/*.sqlite3
log/*.log
tmp/**/*
public/pic/**/*
public/uploads/**/*
public/assets/*
public/index.html
public/contact.html
public/rules.html
public/help.html
vendor/bundle/*
*~
.project
.DS_Store
.tmp__*
.sass-cache/
.idea/
.kateproject
.kateproject.d/
/app/views/layouts/_metrika.html.erb