.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/pic/**/*
public/index.html
public/contact.html
public/rules.html
public/help.html
*~
.project
.DS_Store
.tmp__*
.sass-cache/
.idea/
.dotcloud/
.dotcloudignore
dotcloud.yml