<div class="pure-u-1-4"><%= link_to image_tag("git.png", :size => "128x128", :alt => "Github"), 'https://github.com/fsbkgb' %></div>
<div class="pure-u-1-4"><%= link_to image_tag("gplus.png", :size => "128x128", :alt => "G+"), 'https://plus.google.com/' %></div>
<div class="pure-u-1-4"><%= link_to image_tag("twee.png", :size => "128x128", :alt => "Twitter"), 'https://twitter.com/' %></div>