<h1>Bakabamark</h1>
<table class="pure-table">
  <thead>
    <tr>
      <th>Source</th>
      <th>Result</th>
    </tr>
  </thead>
  <tr>
    <td>&#042;&#042;bold&#042;&#042;</td>
    <td><b>bold</b></td>
  </tr>
  <tr>
    <td>&#047;&#047;italic&#047;&#047;</td>
    <td><i>italic</i></td>
  </tr>
  <tr>
    <td>&#045;&#045;strikeout&#045;&#045;</td>
    <td><del>strikeout</del></td>
  </tr>
    <tr>
      <td>&#037;&#037;spoiler&#037;&#037;</td>
      <td><span style="background: #BBBBBB; color: #BBBBBB;" onmouseover="this.style.color='black';" onmouseout="this.style.color='#BBBBBB';">spoiler</span></td>
    </tr>
  <tr>
    <td>&gt;quote</td>
    <td style="color: #789922;">&gt;quote</td>
  </tr>
  <tr>
    <td>&gt;&gt;9000</td>
    <td><a href="#">&gt;&gt;9000</a></td>
  </tr>
  <tr>
    <td>&gt;&gt;/b/9000</td>
    <td><a href="#">&gt;&gt;/b/9000</a></td>
  </tr>
  <tr>
    <td>&#096;&#096;code&#096;&#096;</td>
    <td><span style="display: block; padding: 5px; font-family: monospace, serif; background-color: white;">code</span></td>
  </tr>
</table>