<div class="newthread">
	[<a href="#" class="nthread">New Thread</a>]
</div>
<%= form_for [@board, Post.new], :html => { :class => "pform pure-form pure-form-aligned", :multipart => true } do |f| %>
<%= f.hidden_field :board_abbreviation, :value => @board.abbreviation %>
<fieldset>
  <div class="pure-control-group">
    <label for="title">Title</label>
    <%= f.text_field :title, :class => "pure-input-2-3", :id => "title" %>
  </div>
  <%= render "layouts/post_form", :f => f, :captcha => @board.pcaptcha? %>
</fieldset>
<% end %>
<hr />