<%= render "layouts/post", :target => @post, :path_pfx => "", :oppost => true %>

<% Comment.find(:conditions => {:post_id => @post.id}).asc(:number).each do |comment| %>
<table class="reply" id="reply_<%= comment.number %>">
 <tr>
   <td>
	<%= render "layouts/post", :target => comment, :path_pfx => "", :oppost => false %>
   </td>
 </tr>
</table>
<% end %>
