$serif: droid serif, liberation serif, "Georgia", "Times New Roman", "Times", serif;
$sans: ubuntu, droid sans, liberation sans, verdana, helvetica, sans-serif;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin reply{
  padding: 0;
  margin: 0;
  margin-top: 3px;
  min-width: 300px;
  border-spacing: 2px;
}

.pagination, .navbar, .goback {
  display: block;
  padding-bottom: 10px;
}

.id {
  font-size: 12px;
}

.admin_tag {
  color: #800080;
  font-weight: 700;
}

.mod_tag {
  color: #2266aa;
  font-weight: 700;
}

#user_nav {
  text-align: right;
}

#notice {
  color: green;
}

.newthread {
  margin: 8px 0px;
}

.postarea, .credits {
  text-align: center;
}

.postarea table {
  margin: 0px 0px 0px 31%;
  text-align: left;
}

.new_post {
  display: none;
}

.newthread {
  margin: 8px 0px;
}

.styles {
  text-align: right;
}

.oppost {
  clear:left;
}

.pic {
  float: left;
  padding: 7px;
}

img {
    border: none;
}

p {
  margin: 0.5em;
}

.reflink a{ 
  font-weight: 700;
  text-decoration: none;
}

hr {
  clear:left;
  margin: 8px 0px;
}

.quote { 
  color: #789922;
  margin: 0 0.5em;
}

.content {
  max-height: 400px;
  overflow: auto;
}

.posttitle {
  font:{
    size:1.2em;
    weight: 800;
  }
}