$serif: droid serif, liberation serif, "Georgia", "Times New Roman", "Times", serif;
$sans: ubuntu, droid sans, liberation sans, verdana, helvetica, sans-serif;

@mixin rounded-corners {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

@mixin reply{
  padding: 0;
  margin: 0;
  margin-top: 5px;
  border-spacing: 2px;
  border-collapse: separate;
}

.pagination, .navbar, .goback {
  display: block;
  padding-bottom: 10px;
}

.id {
  font-size: 12px;
}

.admin_tag {
  color: #800080;
  font-weight: 700;
}

.mod_tag {
  color: #2266aa;
  font-weight: 700;
}

#user_nav {
  text-align: right;
}

#notice {
  color: green;
}

.newthread {
  text-align:center;
}

.credits {
  text-align: center;
}

.pform {
  display: none;
}

.styles {
  text-align: right;
}

.oppost {
  clear:left;
}

.pic, *[id^="att_"] {
  float: left;
  padding: 7px;
  max-width: 90%;
}

iframe, img {
  border: none;
}

p {
  margin: 0.5em;
}

.reflink a{ 
  font-weight: 700;
  text-decoration: none;
}

hr {
  clear:left;
  margin: 8px 0px;
}

.quote { 
  color: #789922;
  margin: 0 0.5em;
}

.posttitle {
  font:{
    size:1.2em;
    weight: 800;
  }
}

.underline {
  border-bottom: 1px dashed black;
  cursor: help;
}

*[id^="att_"] {
  margin: 0.5em;
}

div#pop-up {
  display:none;
  position:absolute;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

body {
  margin: auto;
  max-width: 1200px;
  padding: 0 8px;
}

.pure-form {
  margin: auto;
  max-width: 800px;
  padding-left: 10px;
}