/* Burichan.css */
@import "variables";

html, body {
	font-size:12pt;
	background:#EEF2FF;
	padding-left:5px;
	padding-right:5px;
	margin-right:0;
	margin-left:0;
	margin-top:5px;
}

a { 
	font-family: $serif;
	color: #34345c;
  &:hover { color: #800000; }
}

.reply {
  @include reply;
	font-family: $serif;
	background:#D6DAF0;
}

.highlight{
  @include reply;
	font-family: $serif;
	border: dashed 2px #0010e0;
}

.file {
	font-size: .8em;
	color:#666666;
}

hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #BBBBBB;
}

.posttitle {
	font-family: $serif;
	color:#002244;
}

.pagetitle { 
	color: #af0a0f;
	font-size: 24pt;
	text-align: center;
}

.omittedposts { 
	color: #070707;
	font:{
	  family: $serif;
	   style: italic;
	 }
}