/* Futaba.css */
@import "variables";
$radius: 5px;


html, body {
	background:#FFFFEE;
	color:#800000;
  font: {
    family: $sans;
  }
}

a {
	color:#0000EE;
  &:hover { color: #DD0000; }
}

.reflink a{ 
	color:#800000;
}

.reply {
  @include reply;
  @include rounded-corners;
	background:#F0E0D6;
	color:#800000;
	border: solid 1px #F0D0B6;
}

.highlight{
  @include reply;
  @include rounded-corners;
	background:#F0E0D6;
	border: dashed 2px #eeaa88;
}

.file {
  color:#800000;
	font:{
	  size: .7em;
	  style: italic;
	}
}

.posttitle {
  color:#CC1105;
}

.pagetitle {
  clear:both;
  text-align:center;
  font-size:2em;
  color:#800000;
  width:100%;
}

.omittedposts { 
	color: #707070;
}