/* Futaba.css */
@import "variables";
$radius: 5px;
$replybackground: #F0E0D6;
$maincolor: #800000;

html, body {
  background:#FFFFEE;
  color:$maincolor;
  font: {
    family: $sans;
  }
}

a {
  color:#0000EE;
  &:hover { color: #DD0000; }
}

.reflink a{ 
  color:$maincolor;
}

.reply {
  @include reply;
  @include rounded-corners;
  background:$replybackground;
  border: solid 1px #F0D0B6;
}

.highlight{
  @include reply;
  @include rounded-corners;
  background:$replybackground;
  border: dashed 2px #eeaa88;
}

.file {
  font:{
    size: .7em;
    style: italic;
  }
}

.posttitle {
  color:#CC1105;
}

.pagetitle {
  clear:both;
  text-align:center;
  font-size:2em;
  width:100%;
}

.omittedposts { 
  color: #707070;
}

.postblock {
  background:#EEAA88;
  font-weight:800;
}