<%= render "layouts/navbar" %>
<div class="styles">
  [<a href="#style=Photon" data-style="Photon" class="styleswitch">Photon</a> /
   <a href="#style=Futaba" data-style="Futaba" class="styleswitch">Futaba</a> /
   <a href="#style=Burichan" data-style="Burichan" class="styleswitch">Burichan</a> /
   <a href="#style=Gurochan" data-style="Gurochan" class="styleswitch">Gurochan</a>]
</div>
<div class="credits"><%= link_to 'Bakaba '+$version, 'http://github.com/fsbkgb/bakaba/tree/'+$version %></div>
